# Исключаем ВСЁ по умолчанию
*

# Разрешаем только 3 нужных проекта
!SemMiniHttpServer/
!MyORMLibrary/
!MiniTemplateEngine/

# Внутри разрешённых проектов исключаем лишнее
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/*.user
**/*.suo
**/Thumbs.db
**/.DS_Store